body {
  color: #ff8c00;
}
.org {
  color: #ff8c00;
}
.org-hover:hover {
  color: aliceblue;
}

.org-light {
  color: #f1ae5c;
}

.btn-hover-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
